<!DOCTYPE html>
<html lang="jp">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ますみすサーチ</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/jquery-easing/jquery.easing.min.js"></script>
</head>

<body id="page-top">
  <div class="footerFixed">
  <!-- Footer -->
  <%- include('../_header'); %>

  <header class="bg-secondary text-white">
    <div class="container text-center">
      <h1>ますみすサーチ 利用規約</h1>
    </div>
  </header>

  <section id="search_result">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>利用規約</h2>
          <p>いつきの運営するマストドン・ミスキー(ActivityPub Relay)発言検索「masmis-search.ja-jp.org」（以下「ますみすサーチ」といいます）をご利用いただく際は、下記ルールを基準にマナーを守ってご利用いただくようお願いします。</p>
          <p>違反行為が確認された場合、サービスやアカウントの利用を制限することがあります。</p>
          <p></p>
          <p>本規約の内容はユーザーに通知することなく変更することができるものとします。</p>
          <p></p>
          <h3>落ちてても文句を言わない</h3>
          <p>報告は受けますが、気が向いたら直します</p>
          <p></p>
          <h3>免責事項</h3>
          <p>・ ますみすサーチは投稿を行った瞬間に連合している世界中のサーバーに送信と複製が行われる「ActivityPub」という仕組み利用した分散型SNSのリレー及びそのリレーを利用した検索サービスであり、一度投稿した情報は完全に削除するのが困難となる可能性があります。</p>
          <p>・ ますみすサーチはは日本国内向けに提供されているサービスであり、利用規約等の準拠法は日本法とします。</p>
          <p>・ 個人情報保護方針は日本国の個人情報保護法に基づいたものとします。</p>
          <p>・ ますみすサーチはGDPR、UK GDPRの基準に対応できないため、EU加盟国とイギリスからの検索・登録はお断りいたします。</p>
          <p>・ いつきはますみすサーチで発生したすべての事象ついていかなる場合も責任を負いません。</p>
          <p>・ ますみすサーチは予告なく停止する可能性があります。</p>
          <p>・ ますみすサーチは予告なくデータの削除を行う可能性があります。データ削除時には、分散SNSのリレーの再登録をお願いする場合があります。</p>
          <p>・ アナウンスは<a href="https://otasky.ja-jp.org/@ityuki" target="_blank">おたすき～(いつき)アカウント</a>で実施することがあります。</p>
          <p></p>
          <h3>情報削除・変更について</h3>
          <p></p>
          <p>いつきの独断と偏見で削除や変更を実施することがあります。</p>
          <p></p>
          <h3>リレー登録について</h3>
          <p>以下に該当するサーバは、当サービスが利用ができなかったり、制限がかけられる場合があります。</p>
          <p></p>
          <p>日本語話者が大部分を占めていないサーバ</p>
          <p>機械的投稿 (いわゆる、Bot) が大部分を占めているサーバ</p>
          <p>宣伝等を目的としており、SNSとしての実態を有していないサーバ</p>
          <p>迷惑・中傷・犯罪行為、およびそれらに準ずる投稿を転送しようとするサーバ</p>
          <p>その他、いつきの独断と偏見により不適切と判断されたサーバ</p>
          <p></p>
          <h3>リレー登録時の注意</h3>
          <p></p>
          <p>リレーに登録した段階で、リレーサーバに渡されたデータに関して、保存・検索・更新など、リレー及び検索に必要な処理を許諾したと見なします。</p>
          <p></p>
          <h3>禁止行為</h3>
          <p></p>
          <p>サーバに過度の負荷を掛ける行為</p>
          <p></p>
          <h3>情報収集について</h3>
          <p></p>
          <p>サービス運営のため、ますみすサーチでは、サーバにアクセス、または送信した情報を収集することがあります。</p>
          <p></p>
          <h3>アカウントとデータの削除について</h3>
          <p></p>
          <p>アカウントやデータの削除は、UIから可能な物を除いて実施しておりません。</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('../_footer'); %>
</div>
</body>

</html>