<footer class="py-5 bg-dark">
  <div class="container">
      <div class="float-left">
        <ul class="list-unstyled">
          <li><a href="https://otasky.ja-jp.org/" target="_blank" class="text-white bg-dark">My Misskey</a> <a href="https://otasky.ja-jp.org/@ityuki" target="_blank" class="text-white bg-dark">(いつき)</a></li>
          <li><a href="/ui/search_help" class="text-white bg-dark">検索方法</a></li>
          <li><a href="/ui/relay" class="text-white bg-dark">リレーに参加する方法・サーバ群一覧</a></li>
          <li><a href="/ui/tos" class="text-white bg-dark">利用規約</a></li>
          <li><a href="https://otasky.ja-jp.org/@ityuki/pages/masmis-search-info" class="text-white bg-dark">最近の出来事</a></li>
        </ul>
      </div>
      <div class="float-right">
        <ul class="list-unstyled">
          <li><a href="https://github.com/ityuki/masmis-relay-search" target="_blank" class="text-white bg-dark">(c) copyright 2022 Ituki Kirihara/NI</a></li>
        </ul>
      </div>
  </div>
</footer>
